body {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", sans-serif;
}
div, ul {
	display: block;
    list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: #428bca;
	text-decoration: none;
}
p {
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h3 {
	font-size: 24px;
}
#container {
	max-width: 1080px;
}
.search {
	float: left;
	height: 32px;
	font-family: "Microsoft YaHei", sans-serif;
}
.search-field {
	height: 30px;
	width: 85%;
	font-size: 18px;
	padding-left: 5px;
}
.search-button {
	background-color: #bed;
	margin-left: 20px;
	padding: 0;
	border: none;
	width: 50px;
	font-weight: 800;
}
.search-button:hover {
	background-color: #8ed;
}

#massage-bar {
	color: #fff;
	font-size: 32px;
	display: none;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -300px;
	padding: 50px 10px;
	text-align: center;
	width: 600px;
	height: 100px;
	background-color: #42BAFF;
	opacity: 0.9;
}