#container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
}
#container #title {
  display: block;
  margin: 50px auto;
  width: 19em;
  color: #777;
}
#container #donators {
  margin: 20px auto;
  height: auto;
  width: 540px;
}
#container #donators .donator-item {
  border-bottom: 1px solid #777;
  height: auto;
  padding: 1em 2em 0 2em;
}
#container #donators .donator-item:after {
  content: " ";
  display: block;
  height: 2em;
}
#container #donators .donator-item:hover {
  background-color: #eee;
}
#container #donators .donator-item span {
  display: block;
  height: 1.5em;
}
#container #donators .donator-item .donator-name {
  float: left;
}
#container #donators .donator-item .donator-amount {
  float: right;
}
