body {
	overflow: hidden;
}
#container {
	width: 90%;
	margin: 150px auto 0;
}
#title {
	margin-bottom: 50px;
	text-align: center;
}
#main-title {
	font-size: 40px;
	margin-bottom: 0.5em;
}
#sub-title {
	font-size: 24px;
}
#search {
	width: 90%;
	margin: 0 auto;
}
#admin-login {
	position: absolute;
	margin: 10px;
	top: 0;
	right: 0;
}
#footer {
	margin-top: 200px;
	text-align: center;
	line-height: 1.5em;
}
#donate {
	margin-top: 5px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s; 
	transition: 0.2s;
}
#donate:hover {
	color: #23d;
}
#donate-page {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 99;
}
#donate-img {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url('../images/zhifubao.png');
	background-position: center;
	background-repeat: no-repeat;
}