<html>
<head>
    <title>SteamTradeRep</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
    <div id="container">
        <div id="title">
            <div id="main-title">Steam跳蚤市场吧骗子查询系统</div>
            <div id="sub-title">注意！检索不到不代表对方不是骗子！</div>
        </div>
        <form id="search" action="search.php" method="post">
            <input id="search-field" class="search" type="text" name="userinput" placeholder="要检索的信息(贴吧id steam 常用id 64位id 淘宝id 支付宝邮箱 支付宝账号)">
            <input id="search-button" class="search" type="submit">
        </form> <br>
    </div>
    <div id="footer">
        <div id="declaration">
            <p>Copyright 2014 &nbsp By Hetong & KIDjourney</p>
        </div>
        <div id="donate">
            捐助我们
        </div>
    </div>
    <div id="donate-page"><div id="donate-img"></div></div>
</body>
</html>
