.DS_Store
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

.gitignore
*.mp3
*.jpg
.idea
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
